@using MarvelApi_Mvc.Models.ViewModels.Character
@model CharacterCreateViewModel
<br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
    <section id="banner">
        <div id="backtotop">
            <a href="#banner" id="backtotop-value"><i class="fa-solid fa-arrow-up"></i></a>
        </div>
    </section>

    <form asp-controller="Character" asp-action="CreateCharacter" method="post"
        enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- Name -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterCreateDTO.Name" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <input asp-for="CharacterCreateDTO.Name" class="form-control" />
            <span asp-validation-for="CharacterCreateDTO.Name" class="text-danger"></span>
        </div>
    </div>
        <!-- Durability -->
        <div class="row m-2">
            <div class="col-2">
                <label asp-for="CharacterCreateDTO.Durability" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-6">
                <input asp-for="CharacterCreateDTO.Durability" type="number" class="form-control" />
                <span asp-validation-for="CharacterCreateDTO.Durability" class="text-danger"></span>
            </div>
        </div>
        <!-- Energy -->
        <div class="row m-2">
            <div class="col-2">
                <label asp-for="CharacterCreateDTO.Energy" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-6">
                <input asp-for="CharacterCreateDTO.Energy" type="number" class="form-control" />
                <span asp-validation-for="CharacterCreateDTO.Energy" class="text-danger"></span>
            </div>
        </div>
        <!-- Fighting Skills -->
        <div class="row m-2">
            <div class="col-2">
                <label asp-for="CharacterCreateDTO.FightingSkills" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-6">
                <input asp-for="CharacterCreateDTO.FightingSkills" type="number" class="form-control" />
                <span asp-validation-for="CharacterCreateDTO.FightingSkills" class="text-danger"></span>
            </div>
        </div>
        <!-- Strength -->
        <div class="row m-2">
            <div class="col-2">
                <label asp-for="CharacterCreateDTO.Strength" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-6">
                <input asp-for="CharacterCreateDTO.Strength" type="number" class="form-control" />
                <span asp-validation-for="CharacterCreateDTO.Strength" class="text-danger"></span>
            </div>
        </div>
        <!-- Intelligence -->
        <div class="row m-2">
            <div class="col-2">
                <label asp-for="CharacterCreateDTO.Intelligence" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-6">
                <input asp-for="CharacterCreateDTO.Intelligence" type="number" class="form-control" />
                <span asp-validation-for="CharacterCreateDTO.Intelligence" class="text-danger"></span>
            </div>
        </div>
        <!-- Speed -->
        <div class="row m-2">
            <div class="col-2">
                <label asp-for="CharacterCreateDTO.Speed" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-6">
                <input asp-for="CharacterCreateDTO.Speed" type="number" class="form-control" />
                <span asp-validation-for="CharacterCreateDTO.Speed" class="text-danger"></span>
            </div>
        </div>
        <!-- Height -->
        <div class="row m-2">
            <div class="col-2">
                <label asp-for="CharacterCreateDTO.Height" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-6">
                <input asp-for="CharacterCreateDTO.Height" type="number" class="form-control" />
                <span asp-validation-for="CharacterCreateDTO.Height" class="text-danger"></span>
            </div>
        </div>
        <!-- Eyes -->
        <div class="row m-2">
            <div class="col-2">
                <label asp-for="CharacterCreateDTO.Eyes" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-6">
                <input asp-for="CharacterCreateDTO.Eyes" class="form-control" />
                <span asp-validation-for="CharacterCreateDTO.Eyes" class="text-danger"></span>
            </div>
        </div>
        <!-- Weight -->
        <div class="row m-2">
            <div class="col-2">
                <label asp-for="CharacterCreateDTO.Weight" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-6">
                <input asp-for="CharacterCreateDTO.Weight" type="number" class="form-control" />
                <span asp-validation-for="CharacterCreateDTO.Weight" class="text-danger"></span>
            </div>
        </div>
        <!-- Hair -->
        <div class="row m-2">
            <div class="col-2">
                <label asp-for="CharacterCreateDTO.Hair" class="control-label pt-2" style="font-size: 20px"></label>
            </div>
            <div class="col-6">
                <input asp-for="CharacterCreateDTO.Hair" class="form-control" />
                <span asp-validation-for="CharacterCreateDTO.Hair" class="text-danger"></span>
            </div>
        </div>
    <!-- Checkbox -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterCreateDTO.IsVillain" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            @Html.CheckBoxFor(x => x.CharacterCreateDTO.IsVillain)
        </div>
    </div>
    <!-- Backstory -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterCreateDTO.Backstory" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <input asp-for="CharacterCreateDTO.Backstory" class="form-control" />
            <span asp-validation-for="CharacterCreateDTO.Backstory" class="text-danger"></span>
        </div>
    </div>
    <!--Image  -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterCreateDTO.ImageFile" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <input asp-for="CharacterCreateDTO.ImageFile" type="file" class="form-control" />
            <span asp-validation-for="CharacterCreateDTO.ImageFile" class="text-danger"></span>
        </div>
    </div>
    <!--Appearance  -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterCreateDTO.Appearance" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <input asp-for="CharacterCreateDTO.Appearance" class="form-control" />
            <span asp-validation-for="CharacterCreateDTO.Appearance" class="text-danger"></span>
        </div>
    </div>
    <!-- First Appearance  -->
    <div class="row m-2">
        <div class="col-2">
            <label class="control-label pt-2" style="font-size: 20px">Year of first appereance</label>
        </div>
        <div class="col-6">
            <input asp-for="CharacterCreateDTO.FirstAppearanceYear" type="number" class="form-control" />
            <span asp-validation-for="CharacterCreateDTO.FirstAppearanceYear" class="text-danger"></span>
        </div>
    </div>
    <!-- Origin -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterCreateDTO.Origin" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <input asp-for="CharacterCreateDTO.Origin" class="form-control" />
            <span asp-validation-for="CharacterCreateDTO.Origin" class="text-danger"></span>
        </div>
    </div>
    <!-- Powers -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterCreateDTO.Powers" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
                <input asp-for="CharacterCreateDTO.Powers" class="form-control" />
                <span asp-validation-for="CharacterCreateDTO.Powers" class="text-danger"></span>
        </div>
    </div>
    <!-- Team -->
    <div class="row m-2">
        <div class="col-2">
            <label class="control-label pt-2" style="font-size: 20px">Team</label>
        </div>
        <div class="col-6">
            <select asp-for="CharacterCreateDTO.TeamId" asp-items="Model.AvailableTeams" class="form-control"></select>
            <span asp-validation-for="CharacterCreateDTO.TeamId" class="text-danger"></span>
        </div>
    </div>
    <!-- EnemyIds -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterCreateDTO.EnemyIds" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <select asp-for="CharacterCreateDTO.EnemyIds" asp-items="Model.AvailableCharacters" class="form-control" multiple="multiple"></select>
            <span asp-validation-for="CharacterCreateDTO.EnemyIds" class="text-danger"></span>
        </div>
    </div>
    <!-- AllyIds -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterCreateDTO.AllyIds" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <select asp-for="CharacterCreateDTO.AllyIds" asp-items="Model.AvailableCharacters" class="form-control" multiple="multiple"></select>
            <span asp-validation-for="CharacterCreateDTO.AllyIds" class="text-danger"></span>
        </div>
    </div>
    <!-- Submit Button -->
    <div class="row m-2">
        <div class="col-3 d-flex">
            <button type="submit" class="btn btn-success flex-grow-1 mr-2">Submit</button>
            <a href="@Url.Action("IndexCharacter", "Character")" class="btn btn-danger flex-grow-1">Cancel</a>
        </div>
    </div>
</form>
</body>