<section class="starting-section mt-5">
    <div class="admin-dashboard-header-container">
        <h2>Admin Dashboard</h2>
    </div>
    <div class="admin-dashboard-container">
        <a asp-controller="AdminDashboard" asp-action="IndexDashboardCharacters"
            class="admin-dashboard-box admin-dashboard-characters">
            <div class="overlay"></div>
            <h3 class="admin-dashboard-box-header">Characters</h3>
        </a>
        <a asp-controller="AdminDashboard" asp-action="IndexDashboardTeams"
            class="admin-dashboard-box admin-dashboard-teams">
            <div class="overlay"></div>
            <h3 class="admin-dashboard-box-header">Teams</h3>
        </a>
    </div>
</section>