:root {
	--angle: 10%;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	background: #f0ebe5;
}

ul,
ol {
	list-style-type: none;
}

a,
a:focus,
a:hover {
	text-decoration: none;
	outline: 0;
}

img {
	overflow: hidden;
	border: 0;
	vertical-align: middle;
}

.zindex {
	position: relative;
	z-index: 999;
}

.clr {
	clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}

p {
	line-height: 27px;
}

@font-face {
	src: url(../fonts/ClashDisplay-Bold.ttf);
	font-family: cb;
}

@font-face {
	src: url(../fonts/ClashDisplay-Medium.ttf);
	font-family: cm;
}

@font-face {
	src: url(../fonts/ClashDisplay-Regular.ttf);
	font-family: cr;
}

.mobile-v-show {
	display: none;
}

/* preloader */
#preloader {
	background-color: #f0ebe5;
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
}

#preloader #loading-center {
	width: 100%;
	height: 100%;
	position: relative;
}

#preloader #loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	-webkit-animation: loading-center-absolute 1s infinite;
	animation: loading-center-absolute 1s infinite;
}

#preloader .object {
	width: 20px;
	height: 20px;
	background-color: #d71515;
	float: left;
	border-radius: 50% 50% 50% 50%;
	margin-right: 20px;
	margin-bottom: 20px;
}

#preloader .object:nth-child(2n + 0) {
	margin-right: 0px;
}

#preloader #object_one {
	-webkit-animation: object_one 1s infinite;
	animation: object_one 1s infinite;
}

#preloader #object_two {
	-webkit-animation: object_two 1s infinite;
	animation: object_two 1s infinite;
}

#preloader #object_three {
	-webkit-animation: object_three 1s infinite;
	animation: object_three 1s infinite;
}

#preloader #object_four {
	-webkit-animation: object_four 1s infinite;
	animation: object_four 1s infinite;
}

@-webkit-keyframes loading-center-absolute {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loading-center-absolute {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes object_one {
	50% {
		-webkit-transform: translate(20px, 20px);
		transform: translate(20px, 20px);
	}
}

@keyframes object_one {
	50% {
		-webkit-transform: translate(20px, 20px);
		transform: translate(20px, 20px);
	}
}

@-webkit-keyframes object_two {
	50% {
		-webkit-transform: translate(-20px, 20px);
		transform: translate(-20px, 20px);
	}
}

@keyframes object_two {
	50% {
		-webkit-transform: translate(-20px, 20px);
		transform: translate(-20px, 20px);
	}
}

@-webkit-keyframes object_three {
	50% {
		-webkit-transform: translate(20px, -20px);
		transform: translate(20px, -20px);
	}
}

@keyframes object_three {
	50% {
		-webkit-transform: translate(20px, -20px);
		transform: translate(20px, -20px);
	}
}

@-webkit-keyframes object_four {
	50% {
		-webkit-transform: translate(-20px, -20px);
		transform: translate(-20px, -20px);
	}
}

@keyframes object_four {
	50% {
		-webkit-transform: translate(-20px, -20px);
		transform: translate(-20px, -20px);
	}
}

/* vbox */
.vbox-bottom {
	bottom: 15px;
}

.vbox-hidden {
	display: list-item;
}

.vbox-close {
	background: #d71515;
	opacity: 1;
}

/* back to top */
#backtotop {
	position: fixed;
	bottom: 85px;
	right: 10px;
	height: 70px;
	width: 70px;
	display: none;
	place-items: center;
	border-radius: 50%;
	cursor: pointer;
	z-index: 9999;
}

#backtotop-value {
	display: block;
	height: calc(100% - 10px);
	width: calc(100% - 10px);
	background-color: #fff;
	border-radius: 50%;
	display: -ms-grid;
	display: grid;
	place-items: center;
	font-size: 32px;
	color: #FFF;
}

#backtotop-value i {
	color: #d71515;
}

/* modal */
.modal-content {
	background: #f0ebe5;
}

#contact-modal .modal-body {
	padding: 30px 35px;
}

.form-control:focus {
	border-color: #ced4da !important;
}

.modal-title {
	font-size: 25px;
	font-family: cb;
	text-transform: uppercase;
	color: #d71515;
}

.form-control {
	height: 60px;
}

.modal-content input {
	margin-bottom: 20px;
}

.modal-content textarea {
	height: 255px;
}

.modal-content p {
	font-size: 18px;
	font-family: cr;
	color: #868686;
	padding-right: 22px;
	padding-bottom: 25px;
}

.modal-footer button {
	border: none;
}

.modal-footer button:hover {
	background: #d71515;
}

.contact-item {
	padding: 0 20px;
}

.contact-info {
	margin-bottom: 20px;
}

.contact-info i {
	font-size: 24px;
	color: #d71515;
}

.contact-info h3 {
	font-size: 24px;
	font-family: cm;
	color: #010101;
	padding: 12px 0 4px;
}

.contact-info .social a i {
	font-size: 18px;
	padding-right: 12px;
	color: #868686;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.contact-info .social a i:hover {
	color: #d71515;
}

/* cart */
#cart {
	padding: 90px 0;
}

.cart-item h4 {
	position: relative;
	font-size: 48px;
	font-family: cb;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: transparent !important;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #d71515;
	text-align: center;
}

.cart-item {
	border: 2px solid #c3c3c3;
	border-right: 0;
	border-left: 0;
	padding: 25px 0;
}

.cart-item span {
	font-size: 18px;
	font-family: cr;
	color: #868686;
	padding-bottom: 30px;
	display: block;
}

.cart-item h3 {
	font-size: 25px;
	font-family: cm;
	color: #010101;
}

.cart-item a i {
	margin-right: 6px;
}

.cart-item a i,
.bookmark-item a i {
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	border-radius: 50%;
	background: #d71515;
	text-align: center;
}

.cart-item a i.second {
	border: 2px solid #d71515;
	background: none;
	color: #d71515;
}

.cart-item input {
	width: 60%;
	font-size: 19px;
}

.cart-price {
	padding-bottom: 30px;
}

.cart-footer a {
	text-decoration: underline;
	color: #d71515;
	font-size: 18px;
	font-family: cm;
}

/* bookmark */
#page-title {
	position: relative;
	padding: 140px 0 60px;
	background: #ece7e1;
}

#bookmark {
	padding: 90px 0;
}

.bookmark-item {
	position: relative;
}

.bookmark-item img {
	border-radius: 8px;
}

.bookmark-item h3 {
	font-family: cm;
	font-size: 25px;
	text-transform: uppercase;
	padding: 14px 0 4px;
	color: #010101;
}

.bookmark-item a i {
	position: absolute;
	top: -24px;
	left: 15px;
	border: 4px solid #f0ebe5;
	width: 50px;
	height: 50px;
	line-height: 47px;
}

/* comic details */
#comic-details {
	padding: 90px 0;
}

.comic-detail-page #page-title {
	padding-bottom: 90px;
}

.details-pos {
	margin-top: -150px;
}

.comic-detail-txt {
	padding-top: 140px;
}

.comic-detail-txt .stars i {
	font-size: 19px;
}

.comic-detail-txt h3 {
	padding: 4px 0 8px;
}

.comic-detail-txt h3,
.comic-detail-txt h4 {
	font-size: 59px;
	font-family: cb;
	text-transform: uppercase;
	color: #010101;
}

.comic-detail-txt h4 {
	font-size: 34px;
	padding: 15px 0 35px;
}

.comic-detail-txt span {
	font-family: cm;
	font-size: 19px;
	color: #d71515;
}

.comic-detail-txt p,
.comic-detail-txt .stars span {
	font-size: 18px;
	font-family: cr;
	color: #868686;
}

.comic-detail-txt p {
	padding-right: 70px;
}

.bookmark-btn i {
	width: 55px;
	height: 55px;
	line-height: 55px;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	margin-left: 8px;
	color: #d71515;
}

/*===========================
1.0 *** HEADER AREA START ***
=============================*/
.navbar {
	padding: 20px 0;
	position: fixed;
	width: 100%;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.navbar-brand {
	font-size: 32px;
	font-family: cb;
	text-transform: uppercase;
	color: #010101;
	padding-top: 0;
}

.navbar-brand span {
	color: #d71515;
}

.navbar .navbar-nav .nav-link {
	font-family: cm;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 200;
	margin: 0 10px;
	color: #868686;
}

.navbar .navbar-nav .nav-link:hover {
	color: #d71515;
	cursor: pointer;
}

.button-secondary {
	color: #fff;
	background: #333333;
	padding: 14px 24px;
	border-radius: 50px;
	font-family: cm;
	font-size: 18px;
	text-transform: uppercase;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.button-secondary:hover {
	background: #d71515;
	color: white;
}

.menu-action .button-secondary {
	margin-left: 8px;
	margin-right: 20px;
	z-index: 1;
}

.menu-action .action-icon {
	position: relative;
	background: white;
	width: 160px;
	border-radius: 50px;
	position: relative;
	right: -62px;
	padding-left: 24px;
}

.menu-action .action-icon span {
	position: absolute;
	display: block;
	background: #d71515;
	color: white;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	top: -12px;
	font-family: cm;
	left: -6px;
}

.menu-action .menu-icon {
	position: relative;
	top: 6px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	margin: 0 6px;
	color: #868686;
	font-size: 17px;

}

.menu-action .menu-icon i {
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.menu-action .menu-icon i:hover {
	color: #010101;
}

.menu-action .hamburger-menu {
	position: relative;
}

.menu-action .hamburger-menu:after,
.menu-action .hamburger-menu:before,
.menu-action .hamburger-menu .nav-line {
	position: absolute;
	left: 0;
	width: 46px;
	height: 4px;
	background: #868686;
}

.menu-action .hamburger-menu:after {
	content: '';
	top: 18px;
}

.menu-action .hamburger-menu:before {
	content: '';
	top: 26px;
}

.menu-action .hamburger-menu .nav-line {
	top: 34px;
}

.ham-button {
	width: 48px;
}

#offcanvasRight {
	z-index: 99999;
	background: #f0ebe5;
	padding: 12px;
}

.offcanvas-backdrop.show {
	z-index: 9999;
}

.offcanvas-title {
	font-size: 25px;
	font-family: cb;
	text-transform: uppercase;
	color: #d71515;
}

.offcanvas-body input {
	height: 60px;
	border: none;
	font-family: cr;
}

.form-control:focus,
.btn-close:focus {
	border-color: #ced4da !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.menu-comic {
	margin-top: 30px;
}

.menu-comic img {
	border-radius: 8px;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.menu-comic img:hover {
	-webkit-box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
	box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
}

.offcanvas-body {
	position: relative;
}

.social-media {
	position: absolute;
	bottom: 35px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.social-media p {
	font-size: 18px;
	font-family: cr;
	padding-bottom: 8px;
}

.social-media a i,
.social-media p {
	color: #868686;
}

.social-media a i {
	font-size: 21px;
	padding: 0 8px;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.social-media a i:hover {
	color: #d71515;
}

.navbar.nav-bg {
	padding: 23px 0;
	background: #f0ebe5 !important;
	-webkit-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.1);
	top: -1px;
}

.offcanvas-body.side-menu form {
	position: relative;
}

.offcanvas-body.side-menu form button {
	position: absolute;
	top: 50%;
	right: 15px;
	background: none;
	border: none;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.offcanvas-body.side-menu form button i {
	font-size: 24px;
	color: #868686;
}

/*===========================
2.0 *** BANNER AREA START ***
=============================*/
#banner {
	padding: 180px 0 105px;
	position: relative;
}

.banner-txt span {
	font-size: 24px;
	font-family: cm;
	text-transform: uppercase;
	color: #d71515;
}

.banner-txt h3 {
	font-size: 132px;
	font-family: cb;
	text-transform: uppercase;
	color: #010101;
}

.banner-txt .txt-pos {
	position: relative;
	top: -19px;
	padding-bottom: 20px;
}

.button-primary {
	background: #d71515;
	padding: 20px 40px;
	font-family: cm;
	font-size: 21px;
	color: white;
	border-radius: 50px;
	text-transform: uppercase;
	transition: .5s ease;
}

	.button-primary:hover {
		color: white;
		background-color: #d93434;
	}

.banner-images {
	position: relative;
}

.banner-icon {
	position: absolute;
	right: -30px;
	-webkit-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	top: -35px;
}

.banner-img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border: 12px solid white;
}

.banner-img.one {
	position: absolute;
	z-index: 1;
	-webkit-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	transform: rotate(6deg);
	-webkit-box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
	box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
}

.banner-img.two {
	position: absolute;

}

.banner-txt .button-circular i {
	width: 50px;
	height: 50px;
	line-height: 50px;
}

.banner-txt .button-primary {
	margin-right: 15px;
}

.banner-txt .button-circular i::after {
	top: -6px;
	left: -6px;
	width: 35px;
	height: 62px;
}

.banner-review {
	padding-top: 80px;
}

.banner-review img {
	width: 57px;
	height: 57px;
	border-radius: 50%;
	border: 4px solid white;
	margin-left: -20px;
}

.stars i {
	color: #fbaa33;
}

.banner-review .stars {
	padding-bottom: 5px;
}

.banner-review p {
	font-size: 18px;
	font-family: cr;
	color: #868686;
}

.banner-review img.one {
	margin-left: 0;
}

.marquee {
	width: 100%;
	height: 65px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	background: #d71515;
	z-index: 9999;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.marquee img {
	height: 45px;
	padding-left: 50px;
	position: relative;
	top: -5px;
}

.marquee-1,
.marquee-2 {
	position: absolute;
	min-width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.marquee-1 {
	-webkit-animation: marquee-keywords 60s linear infinite;
	animation: marquee-keywords 60s linear infinite;
	left: 0%;
}

.marquee-2 {
	left: 100%;
}

.text {
	padding: 0 2rem;
	white-space: nowrap;
	font-family: cb;
	font-size: 34px;
	text-transform: uppercase;
	color: white;
}

@-webkit-keyframes marquee-keywords {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	100% {
		-webkit-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}

@keyframes marquee-keywords {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	100% {
		-webkit-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}

.marquee.marquee-white {
	background: #fff;
}

.marquee.marquee-white .text {
	color: #d71515;
}

/*===========================
3.0 *** ABOUT AREA START ***
=============================*/
#about {
	padding: 90px 0 55px;
}

.about-main {
	position: relative;
}

.about-main img {
	border-radius: 50%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.about-main .experience,
.about-main .active-users {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 215px;
	height: 215px;
	background: #d71515;
	border-radius: 50%;
	text-align: center;
	line-height: 0;
}

.about-main .active-users {
	top: 0;
	width: 150px;
	height: 150px;
	line-height: 0;
	background: white;
	-webkit-box-shadow: 0 0 20px rgba(46, 59, 125, 0.15);
	box-shadow: 0 0 20px rgba(46, 59, 125, 0.15);
}

.about-main h3,
.about-main span {
	font-size: 58px;
	font-family: cb;
	color: white;
	padding-top: 47px;
}

.about-main .active-users h3,
.about-main .active-users span {
	font-size: 42px;
	padding-top: 35px;
	color: #d71515;
}

.about-main p {
	font-size: 16px;
	font-family: cr;
	color: white;
	text-transform: capitalize;
	padding: 0 30px;
}

.about-main .active-users p {
	color: #868686;
}

.about-txt {
	padding-left: 35px;
}

.about-txt span {
	font-size: 24px;
	font-family: cm;
	text-transform: uppercase;
	color: #d71515;
	position: relative;
	padding-left: 47px;
}

.about-txt span:after {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 40px;
	height: 2px;
	background: #d71515;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.about-txt h3 {
	font-size: 59px;
	font-family: cb;
	text-transform: uppercase;
	color: #010101;
}

.about-txt p {
	font-size: 18px;
	font-family: cr;
	color: #868686;
	padding-right: 130px;
}

.about-txt p i {
	color: #d71515;
}

.check-p {
	padding-bottom: 30px;
}

.check-p p {
	padding-bottom: 10px;
}

.button-circular-2 {
	font-size: 21px;
	font-family: cm;
	text-transform: uppercase;
	color: #d71515;
}

.button-circular-2:hover {
	color: #d71515;
}

.button-circular-2 i {
	position: relative;
	background: white;
	color: #d71515;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	margin-right: 8px;
}

.button-circular-2 i::after {
	position: absolute;
	content: '';
	top: -6px;
	left: -8px;
	width: 45px;
	height: 84px;
	background: #d71515;
	border-radius: 150px 0 0 150px;
	z-index: -1;
}

.button-circular {
	font-size: 21px;
	font-family: cm;
	text-transform: uppercase;
	color: #d71515;
}

.button-circular:hover {
	color: #d71515;
}

.button-circular i {
	position: relative;
	background: white;
	color: #d71515;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	margin-right: 8px;
}

.button-circular i::after {
	position: absolute;
	content: '';
	top: -6px;
	left: -8px;
	width: 45px;
	height: 84px;
	background: #d71515;
	border-radius: 150px 0 0 150px;
	z-index: -1;
}

.about-main .counter,
.team-counter .counter {
	display: inline-block;
}

/*===========================
4.0 *** BRAND AREA START ***
=============================*/
#brand {
	padding: 0 0 75px;
}

/*===========================
5.0 *** NEW_COMICS AREA START ***
=============================*/
#new-comics {
	padding: 90px 0 0;
	margin-bottom: 90px;
	background: #d71515;
}

#new-comics-sub {
	padding: 90px 0 0;
	background: #d71515;
}

.section-title span {
	font-size: 24px;
	font-family: cm;
	text-transform: uppercase;
	color: #d71515;
	position: relative;
	padding-left: 47px;
}

.section-title span::after {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 40px;
	height: 2px;
	background: #d71515;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.t-white.section-title span::after {
	background: white;
}

.section-title h3 {
	font-size: 59px;
	font-family: cb;
	text-transform: uppercase;
	color: #010101;
}

.section-title h4 {
	font-size: 35px;
	font-family: cb;
	text-transform: uppercase;
	color: black;
}

.t-white span,
.t-white h3 {
	color: white;
}

.comic-item-pos {
	position: relative;
	bottom: -51px;
}

.comic-item {
	padding: 12px 12px 13px;
	background: white;
	border-radius: 8px;
	margin-top: 50px;
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
	width: 100%;
  }

.comic-item.active {
	margin-top: 10px;
}

.comic-item img {
	-webkit-box-shadow: 0 0 20px rgba(46, 59, 125, 0.29);
	box-shadow: 0 0 20px rgba(46, 59, 125, 0.29);
	border-radius: 8px;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
	width: 100%;
    height: 100%;
	flex-grow: 1;
    object-fit: cover;
	object-position: top;
  }

.comic-item-details {
	padding: 0 8px;
}

.comic-item h3 {
	font-family: cm;
	font-size: 20px;
	text-transform: uppercase;
	padding: 14px 0 4px;
	color: #010101;
	overflow-wrap: break-word;
}

.comic-item p {
	font-size: 18px;
	font-family: cr;
	color: #868686;
}

.comic-item-details a i {
	font-size: 21px;
	width: 55px;
	height: 55px;
	line-height: 55px;
	border: 2px solid #d71515;
	color: #d71515;
	text-align: center;
	border-radius: 50%;
	margin-top: 14px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
}

.comic-item:hover .comic-item-details a i {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.comic-item-details a i:hover {
	background: #d71515;
	color: white;
}

.veno-img i {
	background: #d71515;
	color: #fff;
	width: 55px;
	height: 55px;
	left: 50%;
	bottom: 15%;
	line-height: 55px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.comic-item:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.comic-item:hover .veno-img i {
	bottom: 45%;
	opacity: 1;
}

/*===========================
6.0 *** POPULAR AREA START ***
=============================*/
#popular {
	padding: 90px 0;
}

#popular .section-title h3 {
	padding-bottom: 10px;
}

#popular .section-title p {
	font-size: 18px;
	font-family: cr;
	color: #868686;
	padding-right: 225px;
	padding-bottom: 40px;
}

.popular-item p {
	padding: 8px 0 4px;
	font-family: cr;
	font-size: 19px;
	color: #868686;
	position: relative;

}

.popular-item p:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #c3c3c3;
}

.popular-item {
	margin-bottom: 105px;
}

.popular-item.right {
	margin-top: -420px;
}

.popular-item.right p {
	text-align: right;
	padding-right: 29px;
}

.popular-item a {
	display: block;
	font-family: cm;
	font-size: 25px;
	text-transform: uppercase;
	padding: 14px 0 4px;
	color: #010101;
}

.popular-item a:hover {
	color: #d71515;
}

.popular-item img,
.popular-item a {
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.popular-item img:hover {
	-webkit-box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
	box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
}

/*===========================
7.0 *** TEAM AREA START ***
=============================*/
#team {
	padding: 90px 0;
	background: #d71515;
}

.pt-55 {
	padding-top: 55px;
}

.pb-65 {
	padding-bottom: 65px;
}

.pt-16 {
	padding-top: 16px;
}

.pt-20 {
	padding-top: 20px;
}

.team-item img {
	position: relative;
	border-radius: 50%;
}

.team-img {
	position: relative;
	display: block;
}

.team-img::after {
	position: absolute;
	content: '';
	width: 250px;
	height: 250px;
	background: #111;
	border-radius: 50%;
	left: 35px;
	z-index: -1;
	top: 6px;
}

.team-item h3 {
	font-size: 29px;
	font-family: cm;
	color: white;
	padding-top: 30px;
}

.team-item p,
.team-counter p {
	font-family: cr;
	font-size: 18px;
	color: white;
}

.team-item .social a i {
	color: white;
	padding: 12px 8px 0;
	opacity: 0;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.team-item:hover .social a i {
	opacity: 1;
}

.team-counter-main {
	padding-top: 30px;
	border-top: 3px solid #a01313;
}

.team-counter h3,
.team-counter span {
	font-size: 95px;
	font-family: cb;
	color: transparent !important;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
}

/*===========================
8.0 *** REVIEWS AREA START ***
=============================*/
#reviews {
	padding: 90px 0;
	position: relative;
}

#reviews .section-title p {
	font-size: 18px;
	font-family: cr;
	color: #868686;
	padding-right: 120px;
	padding-bottom: 40px;
}

#reviews .section-title h3 {
	padding-bottom: 12px;
}

.review-item {
	background: #fff;
	padding: 25px;
	border-radius: 8px;
	margin: 0 15px;
}

.review-item .fa-quote-left {
	font-size: 66px;
	color: transparent !important;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #d71515;
}

.review-txt p {
	font-size: 18px;
	font-family: cr;
	color: #868686;
	padding: 4px 0 8px;
}

.review-txt h3 {
	font-size: 25px;
	font-family: cm;
	color: #010101;
	position: relative;
	top: 25px;
}

.review-img {
	padding-top: 20px;
}

.review-img img {
	border-radius: 50%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	width: 80px;
}

.review-item .stars {
	padding-bottom: 30px;
	position: relative;
}

.review-item .stars::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background: #f0ebe5;
	bottom: 0;
	left: 0;
}

/*===========================
9.0 *** PRICE_PLAN AREA START ***
=============================*/
#price-plan {
	padding: 90px 0;
	background: #ece7e1;
}

.price-main {
	background: #fff;
}

.price-item {
	padding: 35px 25px;
}

.price-item span {
	font-family: cm;
	font-size: 21px;
	color: #010101;
}

.price-item p {
	font-size: 18px;
	font-family: cr;
	color: #868686;
	padding-bottom: 8px;
}

.price-item img {
	padding: 14px 0 12px;
	width: 110px;
}

.price-item h3 {
	font-family: cb;
	font-size: 44px;
	padding: 14px 0;
}

.price-btn {
	padding: 25px 0 15px;
}

.price-item a {
	padding: 17px 32px;
}

.price-item.active {
	background: #d71515;
	position: relative;
	top: -20px;
	border-radius: 4px;
	color: white;
}

.price-item.active span,
.price-item.active p {
	color: white;
}

.price-item.active a {
	background: white;
	color: #d71515;
}

.price-item.active img {
	-webkit-filter: brightness(0) invert(1);
	filter: brightness(0) invert(1);
}

.price-footer p {
	font-size: 18px;
	font-family: cr;
	color: #868686;
}

.price-footer a {
	text-decoration: underline;
	color: #d71515;
	font-size: 18px;
	font-family: cm;
}

/*===========================
10.0 *** BLOG AREA START ***
=============================*/
#blog {
	padding: 90px 0;
	position: relative;
}

.blog-item {
	border: 2px solid #c3c3c3;
	border-right: 0;
	border-left: 0;
	padding: 35px 0;
}

.blog-item h4 {
	position: relative;
	font-size: 115px;
	font-family: cb;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: transparent !important;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #d71515;
}

.blog-item img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border-radius: 8px;
}

.blog-item p,
.blog-item a {

	color: #868686;
}

.blog-item p {
	font-size: 17px;
	font-family: cr;
	padding-right: 85px;
}

.blog-item a {
	padding-right: 18px;
	font-size: 19px;
}

.blog-item a i {
	padding-right: 4px;
}

.blog-item h3 {
	font-size: 34px;
	font-family: cm;
	color: #010101;
	padding: 12px 120px 18px 0;
}

.blog-txt {
	padding-left: 25px;
}

.round-btn i {
	font-size: 21px;
	width: 55px;
	height: 55px;
	line-height: 55px;
	border: 2px solid #d71515;
	color: #d71515;
	text-align: center;
	border-radius: 50%;
	margin-top: 14px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
}

.round-btn:hover i {
	background: #d71515;
	color: white;
}

.no-border {
	border: none;
}

.top-no-border {
	border-top: none;
}

/*===========================
11.0 *** FOOTER AREA START ***
=============================*/
#footer {
	padding: 80px 0;
	background: #2a2a2a;
}

.footer-logo a {
	font-size: 46px;
	font-family: cb;
	color: white;
	text-transform: uppercase;
}

.footer-logo a span {
	color: #d71515;
}

.footer-menu h3,
.footer-action h3 {
	font-size: 24px;
	font-family: cm;
	color: #fff;
	padding-top: 17px;
	text-transform: uppercase;
}

.footer-action h3 {
	padding-bottom: 20px;
}

.footer-menu a {
	display: block;
	font-size: 18px;
	font-family: cr;
	color: #a7a7a7;
	margin-top: 15px;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.footer-menu a:hover {
	padding-left: 4px;
	color: #fff;
}

.footer-social {
	padding-bottom: 35px;
}

.footer-social a i {
	color: #a7a7a7;
	font-size: 26px;
	padding-right: 18px;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.footer-social a i:hover {
	color: #fff;
}

.footer-download a {
	display: inline-block;
	padding: 17px 40px;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.footer-download a.android {
	background: #fff;
	color: #d71515;
	margin-bottom: 20px;
}

.footer-download a.ios {
	background: none;
	color: #fff;
	border: 2px solid #fff;
}

.footer-download a.android:hover,
.footer-download a.ios:hover {
	background: #d71515;
	color: #fff;
	border-color: #d71515;
}

.footer-logo {
	position: relative;
}

.footer-logo img {
	position: absolute;
	top: 95px;
	left: 30px;
	-webkit-transform: rotate(-14deg);
	-ms-transform: rotate(-14deg);
	transform: rotate(-14deg);
}

/*===========================
12.0 *** COPY_RIGHT AREA START ***
=============================*/
#copy_right {
	background: #2a2a2a;
}

.copyright-txt {
	border-top: 2px solid #3d3d3d;
	padding: 30px 0 90px;
}

.copyright-txt p,
.copyright-txt span,
.copyright-txt a {
	font-size: 18px;
	font-family: cr;
	color: #a7a7a7;
}

.copyright-txt a {
	font-size: 19px;
	padding: 0 8px;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

.copyright-txt a:hover {
	color: #fff;
}

.copyright-txt a.active {
	color: #fff;
}

/*===========================
OVERLAY AREA START
=============================*/

.hero-section {
    position: relative;
    height: 50vh;
    background: url('/images/marvel-characters-canvas.jpg') no-repeat center center/cover;
    color: white;
	margin-top: 70px;
}

.team-section {
	position: relative;
	height: 50vh;
	background: url('/images/marvel-teams-canvas.jpeg') no-repeat center center/cover;
	color: white;
	margin-top: 70px;
}

.about-section-main {
	background: url('/images/about-canvas.jpg') no-repeat center center/cover;
}

.hero-section .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.hero-section .content {
    position: relative;
    z-index: 2;
}

.team-section .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.team-section .content {
	position: relative;
	z-index: 2;
}

.overlay-txt h1 {
	font-size: 40px;
	font-family: cb;
	text-transform: uppercase;
	color: #ffffff;
}

/*===========================
PAGINATION
=============================*/

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 20px 0;
    list-style: none;
    border-radius: 0.25rem;
}

.pagination li {
    margin: 0 5px;
}

.pagination .page-item {
    display: flex;
}

.pagination .page-link {
    color: #000;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: 0.3s ease;
	font-family: cm;
	background-color: transparent;
	border: none;
	font-size: 20px;
}

.pagination .page-link:hover {
    color: red;
}

.pagination .page-link:focus {
	outline: none;
	box-shadow: none;
}

.pagination .page-item.active .page-link {
    color: red;
	background-color: transparent;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
	background-color: transparent;
}

/*===========================
SEARCH
=============================*/

.search-group {
	position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 40%;
	margin: auto;
}

.search-input {
	width: 100%;
	display: flex;
	padding: 15px;
	padding-left: 35px;
	background-color: #f0ebe5;
	border: 2px solid black;
	color: #111;
	font-size: 15px;
	box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
	height: 58px;
	transform: skew(-3deg, 1deg);
	font-family: cm;
	letter-spacing: 2px;
	position: relative;
	transition: .5s ease;
  }

	.search-input:focus, .search-input:valid {
		outline: none;
	}

	.search-input:focus {
		box-shadow: none !important;
	}

.search-icon {
	position: absolute;
	left: 12px;
	top: 45%;
	transform: translateY(-50%) rotate(2deg);
	color: black;
	pointer-events: none; 
}

/*===========================
CHARACTER DETAILS
=============================*/

.comic-detail-img {
	position: relative;
	width: 40%;
}

	.comic-detail-img img {
		border: 2px solid black;
		font-size: 15px;
		box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
		transform: skew(-0.5deg);
	}

.main-info-section {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-around;
}

.backstory-section {
	position: relative;
	padding: 40px;
	color: black;
	overflow: hidden;
	width: 66%;
}

.character-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.character-header {
	font-family: cb;
	text-transform: uppercase;
	color: #010101;
	font-size: 59px;
	margin-bottom: 1rem;
}

.character-stats {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: 20px;
}

.stat-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stat-box {
	border: 10px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
	width: 100%;
	aspect-ratio: 1 / 1;
}

.stat-number {
	font-size: 3em !important;
	font-family: cm !important;
	margin-bottom: 0;
	color: red;
	position: relative;
}

.stat-label {
	font-size: 1em;
	text-align: center;
	margin-top: 10px;
	font-family: cb;
}

.additional-information-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.character-information-container{
	width: 30%;
}

.character-information-container-1 {
	padding: 15px;
	border: 1px solid gray;
}

.character-information-container-2 {
	padding: 15px;
	border: 1px solid gray;
	border-top: none;
}

.character-information-box {
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
}

.character-information-box span {
	font-family: cb;
	font-size: 20px;
	color: #767676;
}

.character-information-box p {
	font-family: cb;
	font-size: 18px;
	color: black;
}

.connection-list {
	display: inline;
}

.connection-name {
	font-family: cb !important;
	font-size: 18px !important;
	color: black !important;
	display: inline-block !important;
	transition: .5s ease !important;
}

.connection-name:hover{
	color: red !important;
	cursor: pointer !important;
}

.biography-text {
	color: black !important;
}

@media (max-width: 1000px) {
	.stat-box {
		width: 100%;
	}

	.stat-number {
		font-size: 3em !important;
	}

	.main-info-section {
		clip-path: none;
		flex-direction: column;
	}

	.character-header {
		font-size: 54px;
		margin-top: 3rem;
		margin-bottom: 2rem;
		overflow-wrap: break-word;
	}

	.comic-detail-img {
		width: 100%;
	}

	.character-container {
		width: 100%;
	}

	.backstory-section {
		margin-bottom: 2rem;
	}

	.character-information-container,
	.backstory-section {
		width: 100%;
		padding-right: 0;
		padding: 0 !important;
	}
}

@media (min-width: 1200px) {
	.character-stats {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		gap: 20px;
	}

	.stat-number {
		font-size: 4.5em !important;
	}
}

/*===========================
TEAM DETAILS
=============================*/

.team-main-info-section {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-around;
	gap: 20px;
}

#team-section {
	padding: 40px 0 40px;
	background: #d71515;
}

.team-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.team-header {
	font-family: cb;
	text-transform: uppercase;
	color: #010101;
	font-size: 59px;
	margin-bottom: 1rem;
}

.team-comic-detail-img {	
	width: 50%;
	display: flex;
	justify-content: flex-end;
}

.team-comic-detail-img img {
	border: 2px solid black;
	font-size: 15px;
	box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
	transform: skew(-1deg);
}

.team-comic-detail-img-container {
	width: 60%;
	position: relative;
	overflow: hidden;
}

.team-description{
	font-size: 20px;
	font-family: cm;
}

.team-members {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust minmax to control minimum item width */
	gap: 10px;
}

.team-comic-item {
	padding: 5px;
	background: white;
	border-radius: 10px;
	position: relative;
	height: 100%;
	width: 100%;
}

	.team-comic-item img {
		box-shadow: 0 0 20px rgba(46, 59, 125, 0.29);
		border-radius: 10px;
		transition: all linear 0.3s;
		width: 100%;
		height: 250px;
		object-fit: cover;
		object-position: top;
	}

.team-comic-item-details {
	padding: 0 8px;
	margin-top: 10px;
}

.team-comic-header {
	font-family: cm;
	font-size: 18px;
	text-transform: uppercase;
	padding: 14px 0 4px;
	color: #010101;
	overflow-wrap: break-word;
}

.team-comic-item-details a i {
	font-size: 21px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #d71515;
	color: #d71515;
	text-align: center;
	border-radius: 50%;
	margin-top: 14px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
}

.team-comic-item:hover .team-comic-item-details a i {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.team-comic-item-details a i:hover {
	background: #d71515;
	color: white;
}

#team-intro-section{
	margin-top: 1rem;
}

@media (max-width: 1000px) {
	.team-header {
		font-size: 45px;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	.team-comic-detail-img-container {
		width: 80%;
	}

	.team-comic-detail-img {
		width: 100%;
		justify-content: center;
	}

	.team-main-info-section {
		flex-direction: column;
		align-items: center;
		gap: 0px;
	}

	.team-container{
		width: 80%;
	}

	.team-description {
		font-size: 18px;
	}

	#team-intro-section {
		margin-top: 5rem;
	}
}

/*===========================
LOGIN
=============================*/

#login-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 90px 0 90px;
}

.login-container{
	padding: 2rem;
}

.login-container h2{
	font-family: cb;
	text-transform: uppercase;
	font-size: 40px;
}

.login-form-container{
	width: 100%;
}

.login-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.login-button {
	padding: 10px 40px;
	background-color: #d71515;
	border: none;
	font-family: cm;
	text-transform: uppercase;
	color: white;
	border-radius: 50px;
	transition: .5s ease;
}

.login-button:hover {
	color: white;
	background-color: #d93434;
}

.text-danger-login {
	font-family: cm;
	color: red;
}

.register-question span{
	font-family: cr;
	font-size: 16px;
}

.register-question a {
	color: indianred;
	transition: .5s ease;
}

	.register-question a:hover {
		color: orangered;
	}

.input-form{
	width: 100%;
}

.input-form-span {
	width: 40%;
	margin: auto;
	transform: rotate(1deg);
	margin-top: 2px;
}

/*===========================
ADMIN DASHBOARD
=============================*/

.starting-section {
	padding: 60px 0 60px;
}

.admin-dashboard-header-container{
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}

.admin-dashboard-header-container h2{
	font-family: cb;
	font-size: 50px;
	text-transform: uppercase;
}

.admin-dashboard-container{
	padding: 2rem;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.admin-dashboard-box{
	position: relative;
	height: 600px;
	width: 30%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	transition: .5s ease;
	background-origin: border-box;
	cursor: pointer;
	overflow: hidden;
}

.admin-dashboard-box:hover{
	border: 8px solid white;
	transform: scale(1.02);
}

.admin-dashboard-box h3{
	color: white;
	text-transform: uppercase;
	font-size: 40px;
	font-family: cb;
	z-index: 2;
	text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.671);
	transition: .5s ease;
}

.admin-dashboard-characters{
	background-image: url(../images/marvel-characters-canvas.jpg);
}

.admin-dashboard-teams{
	background-image: url(../images/marvel-teams-canvas.jpeg);
}

.overlay{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
	transition: .5s ease;
}

.admin-dashboard-box:hover .overlay{
	background: rgba(0, 0, 0, 0.7);
}

.admin-dashboard-box:hover .admin-dashboard-box-header{
	text-shadow: 3px 1px 2px rgba(255, 255, 255, 0.408);
	transform: scale(1.03);
}

@media(max-width: 1000px){
	.admin-dashboard-container{
		flex-direction: column;
	}

	.admin-dashboard-box{
		width: 100%;
	}
}

/*===========================
CHARACTER ADMIN DASHBOARD
=============================*/

.character-form-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
}

.character-form-subcontainer {
	display: grid;
	column-gap: 30px !important;
	grid-template-columns: 1fr 1fr;
	flex-direction: column;
	gap: 10px;
	width: 60%;
}

.character-form-container-header {
	width: 100%;
	grid-column: span 2;
}

.col-span-2 {
	grid-column: span 2;
}

	.character-form-container-header h3 {
		font-size: 25px;
		font-family: cb;
		text-transform: uppercase;
		transform: rotate(1deg);
	}

.character-form-container-header h2 {
	font-size: 30px;
	font-family: cb;
	text-transform: uppercase;
	transform: rotate(1deg);
	text-align: center;
	margin: 2rem 0;
}

.character-form-container-box{
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.character-form-container-box label{
	font-family: cm;
	font-size: 18px;
	text-transform: uppercase;
	transform: rotate(1deg);
}

.character-form-container-box input {
	padding: 5px;
	height: 40px;
}

.search-input-textbox{
	height: 200px !important;
	padding: 10px;
}

.character-form-container-checkbox {
	grid-column: span 2;
	display: flex;
	gap: 1rem;
}

.search-input-checkbox {
	width: 20px;
	height: 20px;
	accent-color: transparent;
}

.search-input-select{
	padding: 0 5px !important;
}

.character-form-container-checkbox label {
	font-family: cm;
	font-size: 18px;
	text-transform: uppercase;
	transform: rotate(1deg);
}

.button-container-box{
	display: flex;
	justify-content: center;
	gap: 20px;
}

.search-input-btn {
	display: flex;
	background-color: #f0ebe5;
	border: 2px solid black;
	color: #111;
	font-size: 15px;
	box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
	transform: skew(-3deg, 1deg);
	font-family: cm;
	letter-spacing: 2px;
	padding: 10px 20px;
	position: relative;
	text-transform: uppercase;
	outline: none;
	text-decoration: none !important;
}

.btn-edit {
	transition: .5s ease;
}

	.btn-edit:hover {
		background-color: yellow !important;
		box-shadow: none;
	}

.btn-submit {
	transition: .5s ease;
}

	.btn-submit:hover {
		background-color: green !important;
		box-shadow: none;
	}

.btn-discover {
	margin-top: 10px;
	transition: .5s ease;
	display: none;
}

	.btn-discover:hover {
		background-color: white;
		outline: none;
		box-shadow: none;
		text-decoration: none !important;
	}

.btn-cancel {
	transition: .5s ease;
}

	.btn-cancel:hover {
		background-color: red;
		outline: none;
		box-shadow: none;
		text-decoration: none !important;
		color: black;
	}

#imagePreview {
	max-width: 100%;
	height: auto;
	border: 2px solid black;
	font-size: 15px;
	box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
	transform: skew(-1deg);
}

.lower-skew {
	transform: skew(-1deg, 1deg) !important;
}
.no-skew{
	transform: skew(0deg) !important;
}

.custom-text-danger {
	font-family: cm;
	color: red;
	transform: rotate(1deg);
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
	background-color: #f0ebe5;
	border: 2px solid black;
	color: #111;
	font-size: 15px;
	border-radius: 0;
	box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
	transform: skew(-3deg, 1deg);
	font-family: cm;
	letter-spacing: 2px;
	padding-left: 5px;
	display: flex;
	align-items: center;
	width: 100% !important;
}

	.select2-container--default .select2-selection--single .select2-selection__rendered,
	.select2-container--default .select2-selection--multiple .select2-selection__rendered {
		margin-top: 5px;
		line-height: 20px;
		display: inline-flex;
		flex-wrap: wrap;
		gap: 3px;
		overflow: hidden;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		height: 58px;
		width: 38px;
		background-color: #f0ebe5;
		border-left: 2px solid black;
	}

	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		background-color: #f0ebe5;
		border: 2px solid black;
		padding: 2px 5px;
		margin: 2px;
		color: #111;
		transform: skew(1deg);
		font-family: cm;
		font-size: 15px;
		max-width: 120px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		box-sizing: border-box;
	}

.select2-dropdown {
	border: 2px solid black;
	background-color: #f0ebe5;
	font-family: cm;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #111;
	color: #f0ebe5;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	color: #111;
	margin-right: 5px;
	cursor: pointer;
	transform: none;
}

.main-container {
	padding: 4rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.container-header{
	text-align: center;
}

.container-header h2{
	font-family: cb;
	text-transform: uppercase;
}

.filter-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filter-container-buttons{
	display: flex;
	align-items: center;
}

.filter-search {
	position: relative;
}

.item-container{
	display: flex;
	flex-direction: column;
}

.item-container-header{
	border-bottom: 2px solid lightgray;
	padding-bottom: 1rem;
}

.item-container-items {
	border-bottom: 2px solid lightgray;
}

.item-container-header h3 {
	text-transform: uppercase;
	text-align: left;
	font-family: cb;
	font-size: 20px;
}

.item-container-items h3 {
	font-family: cm;
	font-size: 20px;
	max-width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
	overflow: hidden;
}

.characters-container-grid {
	display: grid;
	grid-template-columns: .5fr .5fr 2fr 1fr 1fr;
	align-items: center;
	padding: 8px 0;
}

.teams-container-grid {
	display: grid;
	grid-template-columns: .5fr .5fr 2fr 1fr;
	align-items: center;
	padding: 8px 0;
}

.item-container-buttons{
	display: flex;
	gap: 10px;
}

	.item-container-buttons a {
		cursor: pointer;
		display: flex;
		background-color: #f0ebe5;
		border: 2px solid black;
		color: #111;
		font-size: 15px;
		box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
		transform: skew(-3deg, 1deg);
		font-family: cm;
		letter-spacing: 2px;
		padding: 10px 10px;
		position: relative;
		text-transform: uppercase;
		outline: none;
		text-decoration: none !important;
	}

.filter-container-buttons a{
	cursor: pointer;
	display: flex;
	background-color: #f0ebe5;
	border: 2px solid black;
	color: #111;
	font-size: 12px;
	box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
	transform: skew(0);
	font-family: cb;
	letter-spacing: 2px;
	padding: 10px 10px;
	position: relative;
	text-transform: uppercase;
	outline: none;
	text-decoration: none !important;
}


.characters-img-container {
	display: flex;
	justify-content: center;
}

	.characters-img-container img {
		height: 50px;
		width: 35px;
		border: 2px solid black;
		box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
		transform: skew(-1deg, 1deg);
	}

@media(max-width: 768px) {
	.character-form-container {
		padding: 1rem;
	}

	.character-form-subcontainer {
		width: 100%;
	}

	.character-form-container-checkbox label {
		font-size: 14px;
	}

	.character-form-container-box label {
		font-size: 14px;
	}

	.subcontainer-image {
		display: flex !important;
		flex-direction: column !important;
	}

	.optional-item{
		display: none;
	}

	.characters-container-grid {
		grid-template-columns: 1fr 2fr 1fr;
	}

	.teams-container-grid {
		grid-template-columns: 1fr 2fr 1fr;
	}

	.item-container-items h3 {
		max-width: 150px;
	}

	.main-container {
		padding: 2rem;
	}

	.filter-container{
		flex-direction: column;
	}
}

@media(min-width: 1286px){
	.item-container-items h3 {
		max-width: 500px;
	}
}

/*===========================
ABOUT
=============================*/

.about-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	padding: 2rem;
	gap: 4rem;
}

.about-section-container{
	width: 80%;
	position: relative;
	display: flex;
}

.about-section-box-header {
	position: absolute;
	top: 0;
	width: 500px;
	height: 500px;
	border-radius: 100%;
	z-index: 2;
	background-color: #d71515;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: skew(-2deg, 1deg);
}

	.about-section-box-header h2 {
		font-family: cb;
		font-size: 50px;
		text-align: center;
		color: white;
		text-transform: uppercase;
		word-spacing: 20px;
	}

.about-section-box-empty{
	width: 30%;
}

.about-section-box-info{
	width: 70%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.about-section-box-img {
	width: 100%;
	background-color: #f0ebe5;
	border: 2px solid black;
	transform: skew(-2deg, 1deg);
	box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
}

.about-section-box-img img{
	width: 100%;
}

.about-section-box-description{
	display: flex;
	flex-direction: column;
	gap: 20px;
	transform: skew(-2deg, 1deg)
}

.about-section-box-description h3{
	font-family: cb;
	text-transform: uppercase;
}

	.about-section-box-description p {
		font-family: cm;
		color: #515151;
		font-size: 17px;
	}

.background-red {
	background-color: #d71515;
}

.about-section-box{
	width: 50%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.about-section-box-list{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

.about-section-box-list p{
	color: white;
	font-family: cm;
	font-size: 18px;
}

.about-section-box h3 {
	font-family: cb;
	text-transform: uppercase;
	color: white;
	font-size: 30px;
}

@media(max-width: 1500px) {
	.about-section-box-header {
		width: 350px;
		height: 350px;
	}

		.about-section-box-header h2 {
			font-size: 45px;
		}
}

@media(max-width: 1300px) {
	.about-section-box-header {
		width: 300px;
		height: 300px;
	}

		.about-section-box-header h2 {
			font-size: 40px;
		}
}

@media(max-width: 950px) {
	.about-section-box-header {
		width: 200px;
		height: 200px;
	}

	.about-section-box-header h2{
		font-size: 25px;
	}
}

.project-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	padding: 2rem;
	gap: 3rem;
}

.project-section-container {
	width: 100%;
	padding: 2rem;
	border-top: 2px solid black;
	border-left: 2px solid black;
	transform: skew(-2deg, 1deg);
	box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
	height: 350px;
}

.project-section-box{
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: flex-start;
}

.project-technology {
	font-family: 'cm';
	color: #454444;
	font-size: 20px;
}

.project-name {
	font-family: 'cb';
	text-transform: uppercase;
	font-size: 25px;
	color: #d71515;
}

.project-line {
	flex-grow: 1;
	height: 2px;
	background-color: #d71515;
	margin: 0 10px;
}

.project-link {
	color: #515151;
	cursor: pointer;
	transition: .5s ease;
}

.project-link:hover {
	color: #d71515;
}

.project-description {
	font-family: 'cm';
	color: #515151;
	font-size: 17px;
}

.project-section-box-header{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

@media(max-width: 1150px) {
	.project-section-container {
		width: 100%;
		height: auto;
	}
}

@media(max-width: 768px){
	.project-name {
		font-size: 20px;
	}

	.project-technology {
		font-size: 15px;
	}

	.project-description {
		font-size: 14px;
	}

	.project-link {
		display: none !important;
	}

	.btn-discover{
		display: block;
	}

	.about-section-container{
		width: 100%;
	}

	.project-section {
		display: flex;
		flex-direction: column;
	}

	.reverse-skew {
		transform: skew(2deg, 1deg);
	}

	.reverse {
		flex-direction: row-reverse !important;
	}

	.reverse-text {
		text-align: right;
	}

	.reverse-alignment {
		align-items: flex-end !important;
	}
}