@using MarvelApi_Mvc.Models.ViewModels.Character
@model CharacterUpdateViewModel
<br />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<form asp-controller="Character" asp-action="UpdateCharacter" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="CharacterUpdateDTO.Id" type="hidden" />
    <!-- Name -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterUpdateDTO.Name" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <input asp-for="CharacterUpdateDTO.Name" class="form-control" />
            <span asp-validation-for="CharacterUpdateDTO.Name" class="text-danger"></span>
        </div>
    </div>
    <!-- Checkbox -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterUpdateDTO.IsVillain" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            @Html.CheckBoxFor(x => x.CharacterUpdateDTO.IsVillain)
        </div>
    </div>
    <!-- Backstory -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterUpdateDTO.Backstory" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <input asp-for="CharacterUpdateDTO.Backstory" class="form-control" />
            <span asp-validation-for="CharacterUpdateDTO.Backstory" class="text-danger"></span>
        </div>
    </div>
    <!--Image  -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterUpdateDTO.ImageFile" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <input asp-for="CharacterUpdateDTO.ImageFile" type="file" class="form-control" />
            <span asp-validation-for="CharacterUpdateDTO.ImageFile" class="text-danger"></span>
        </div>
    </div>
    <!--Appearance  -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterUpdateDTO.Appearance" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <input asp-for="CharacterUpdateDTO.Appearance" class="form-control" />
            <span asp-validation-for="CharacterUpdateDTO.Appearance" class="text-danger"></span>
        </div>
    </div>
    <!-- First Appearance  -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterUpdateDTO.FirstAppearanceYear" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <input asp-for="CharacterUpdateDTO.FirstAppearanceYear" type="number" class="form-control" />
            <span asp-validation-for="CharacterUpdateDTO.FirstAppearanceYear" class="text-danger"></span>
        </div>
    </div>
    <!-- Origin -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterUpdateDTO.Origin" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <input asp-for="CharacterUpdateDTO.Origin" class="form-control" />
            <span asp-validation-for="CharacterUpdateDTO.Origin" class="text-danger"></span>
        </div>
    </div>
    <!-- Powers -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterUpdateDTO.Powers" class="control-label pt-2" style="font-size: 20px">Powers</label>
        </div>
        <div class="col-6" id="power-inputs">
            @for (var i = 0; i < Model.CharacterUpdateDTO.Powers.Count; i++)
            {
                <div class="input-group mb-2">
                    <input type="text" name="CharacterUpdateDTO.Powers[@i]" class="form-control" value="@Model.CharacterUpdateDTO.Powers[i]" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-danger" onclick="removePowerInput(this)">Remove</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" onclick="addPowerInput()">Add Power</button>
        </div>
    </div>
    <!-- Team -->
    <div class="row m-2">
        <div class="col-2">
            <label class="control-label pt-2" style="font-size: 20px">Team</label>
        </div>
        <div class="col-6">
            <select asp-for="CharacterUpdateDTO.TeamId" asp-items="Model.AvailableTeams" class="form-control"></select>
            <span asp-validation-for="CharacterUpdateDTO.TeamId" class="text-danger"></span>
        </div>
    </div>
    <!-- EnemyIds -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterUpdateDTO.EnemyIds" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <select asp-for="CharacterUpdateDTO.EnemyIds" asp-items="Model.AvailableCharacters" class="form-control" multiple="multiple"></select>
            <span asp-validation-for="CharacterUpdateDTO.EnemyIds" class="text-danger"></span>
        </div>
    </div>
    <!-- AllyIds -->
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="CharacterUpdateDTO.AllyIds" class="control-label pt-2" style="font-size: 20px"></label>
        </div>
        <div class="col-6">
            <select asp-for="CharacterUpdateDTO.AllyIds" asp-items="Model.AvailableCharacters" class="form-control" multiple="multiple"></select>
            <span asp-validation-for="CharacterUpdateDTO.AllyIds" class="text-danger"></span>
        </div>
    </div>
    <!-- Submit Button -->
    <div class="row m-2">
        <div class="col-3 d-flex">
            <button type="submit" class="btn btn-success flex-grow-1 mr-2">Submit</button>
            <a href="@Url.Action("IndexCharacter", "Character")" class="btn btn-danger flex-grow-1">Cancel</a>
        </div>
    </div>
</form>

<script>
    function addPowerInput() {
        const powerInputs = document.getElementById('power-inputs');
        const inputCount = powerInputs.children.length;
        const newInput = document.createElement('div');
        newInput.className = 'input-group mb-2';
        newInput.innerHTML = `
                    <input type="text" name="CharacterUpdateViewModel.CharacterUpdateDTO.Powers[${inputCount}]" class="form-control" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-danger" onclick="removePowerInput(this)">Remove</button>
                    </div>
                `;
        powerInputs.appendChild(newInput);
    }

    function removePowerInput(button) {
        button.parentElement.parentElement.remove();
        reindexPowerInputs();
    }

    function reindexPowerInputs() {
        const powerInputs = document.getElementById('power-inputs').children;
        for (let i = 0; i < powerInputs.length; i++) {
            powerInputs[i].querySelector('input').name = `CharacterUpdateViewModel.CharacterUpdateDTO.Powers[${i}]`;
        }
    }
</script>